/* line 3, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles-wide.scss */
#project-banner-wrapper {
  max-width: 1180px;
}

/* line 7, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles-wide.scss */
#menu-wrapper {
  max-width: 1180px;
}

/* line 11, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles-wide.scss */
#content-wrapper {
  max-width: 1180px;
}
