/* line 5, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#companyfooter-placeholder {
  margin-top: 70px;
}

/* line 12, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 18, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
div.right, span.right {
  width: 100%;
  text-align: right;
}

/* line 23, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
div.float-right, span.float-right {
  float: right;
}

/* line 27, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
td.right {
  text-align: right;
}

/* line 31, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.bold {
  font-weight: bold;
}

/* line 35, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
p {
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* line 41, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
p + ul {
  margin-top: -20px;
}

/* line 45, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
table {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* line 50, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
hr {
  height: 1px;
  margin: 1.5em 0;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border: 0;
}

/* line 61, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
section {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 65, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
section header {
  margin-bottom: 10px;
}
/* line 67, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
section header h3 {
  text-align: center;
}
/* line 73, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
section h2 [class^="icon-"], section h2 [class*=" icon-"], section h3 [class^="icon-"], section h3 [class*=" icon-"] {
  vertical-align: baseline;
  margin-right: 5px;
  margin-top: 5px;
}
/* line 80, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
section .item {
  margin-bottom: 10px;
}

/* line 85, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#content-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  /*
  @media screen and (min-width: 1200px) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;  
  }
  
  @media screen and (width: 940px) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;  
  }*/
}

/* line 102, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.nav {
  margin-bottom: 0px;
}

/* line 106, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
blockquote > p {
  font-size: 14px;
}

/* line 110, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.container-fluid {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 115, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
div.alert {
  margin: 20px 0px;
}

/* line 119, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.nav-header {
  color: #999999;
}

/* line 123, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.tagline {
  font-weight: bold;
  font-size: large;
}

/* line 132, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.breadcrumb > .active {
  color: #999999;
}

/* line 136, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
a.dropdown-toggle {
  text-decoration: none;
}
/* line 138, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
a.dropdown-toggle b.caret {
  color: #336699;
}

/* line 148, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.nav-bar
.navbar-inner {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
/* line 151, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.nav-bar
.navbar-inner .btn {
  border-width: 0px;
}

/* line 159, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.hero-unit {
  background: white;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-top: 30px;
}

/* line 166, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.hero-unit > img {
  padding-left: 20px;
  float: right;
}

/* line 171, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.hero-content h1, .hero-content h2, .hero-content p {
  text-align: right;
}

/* line 174, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.hero-content h1 {
  margin-top: 20px;
}

/* line 177, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.hero-content h2 img {
  vertical-align: text-bottom;
}

@media screen and (min-width: 680px) {
  /* line 185, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #downloads {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  /* line 189, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #downloads .download-unit {
    position: relative;
    margin-bottom: 1em;
    padding: 1em;
    #min-height: 25em;
    height: auto;
  }
  /* line 196, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #downloads .download-unit h3 {
    text-align: center;
  }
  /* line 199, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #downloads .download-unit ul {
    text-align: center;
    list-style-type: square;
    margin-bottom: 2em;
  }
  /* line 203, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #downloads .download-unit ul li {
    margin-left: 1em;
    line-height: 2em;
    text-align: left;
  }
  /* line 209, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #downloads .download-unit .download-btn {
    margin-left: -1em;
    position: absolute;
    bottom: 0em;
    width: 100%;
    text-align: center;
  }
  /* line 219, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #downloads .download-unit:first-child::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 1px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  }
}
/* line 234, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.links {
  position: relative;
  float: right;
}
/* line 235, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.links a {
  margin-right: 0.0em;
}
/* line 238, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.links span {
  padding-top: 4px;
  line-height: 20px;
}

/* line 247, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#release_info {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 252, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#displayed-version > .label {
  vertical-align: top;
}

/* line 256, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#installation_tabs {
  margin-top: 2em;
}

/* line 263, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#installation-tabs-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
/* line 278, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#installation-tabs-content table {
  margin-top: 2em;
}
/* line 280, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#installation-tabs-content table tr {
  text-align: left;
}
/* line 282, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#installation-tabs-content table tr:nth-child(2n) {
  background: #fbfbfb;
}
/* line 285, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#installation-tabs-content table tr:nth-child(2n+1) {
  background: #f7f7f7;
}
/* line 288, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
#installation-tabs-content table tr th, #installation-tabs-content table tr td {
  border: 1px solid #dddddd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 305, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.download-instructions h3 {
  margin-top: 0;
}
/* line 308, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.download-instructions h4 {
  margin-top: 2em;
}
/* line 310, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.download-instructions h4 + div {
  display: block;
  padding: 1em;
  line-height: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055);
}
/* line 319, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.download-instructions .nav-tabs > .active > a {
  color: #656565;
}

/* line 324, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
span.label {
  font-weight: normal;
  text-shadow: none;
}
/* line 327, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
span.label#displayed-version {
  vertical-align: top;
}
/* line 331, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
span.label.label_stable, span.label.label_latest_release {
  background-color: #468847;
}
/* line 334, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
span.label.label_development {
  background-color: #3a87ad;
}
/* line 337, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
span.label.label.label_nightly {
  background-color: #f89406;
}
/* line 340, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
span.label.float-right {
  font-size: smaller;
}

/* line 346, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.sidenav li:first-child a {
  border-radius: 6px 6px 0 0;
}

/* line 354, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.sidenav .active a {
  border: 0 none;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  padding: 9px 15px;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
}

/* line 367, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.features {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 373, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.features a {
  width: 100%;
  text-align: center;
}
/* line 378, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.features img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 386, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.feature img {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}
/* line 391, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.feature:nth-child(even) img {
  float: left;
}
/* line 394, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.feature:nth-child(odd) img {
  float: right;
}
/* line 397, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.feature .featureContent, .feature .hero-unit {
  padding: 30px;
}

/* line 402, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.featureContent p {
  text-align: justify;
}

/* line 407, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.features-separator hr {
  clear: both;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 413, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.feature-menu {
  padding-top: 20px;
}
/* line 415, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.feature-menu li {
  display: inline;
  padding-right: 30px;
}
/* line 419, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.feature-menu li h4 {
  display: inline;
}

@media screen and (min-width: 940px) {
  /* line 429, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #feature .sect1 {
    position: relative;
    margin-top: 2em;
  }
  /* line 432, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #feature .sect1::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 1px;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  }
  /* line 445, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #feature .sect1:last-child::before {
    content: "";
    background-image: none;
  }
  /* line 449, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #feature .sect1::after {
    display: block;
    clear: both;
    margin-bottom: 2em;
    content: "";
  }
  /* line 455, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #feature .sect1 p {
    font-size: 1.1em;
    font-weight: 200;
    line-height: 30px;
  }
  /* line 462, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #feature .sect2 {
    padding-top: 20px;
  }
  /* line 467, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #feature .sect1:nth-child(odd) H2, #feature .sect1:nth-child(odd) .sect2 > :not(.imageblock) {
    float: left;
    clear: left;
    width: 50%;
  }
  /* line 473, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #feature .sect1:nth-child(odd) .sect2 > .imageblock {
    float: right;
    margin-top: -4em;
    width: 50%;
  }
  /* line 481, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #feature .sect1:nth-child(even) H2, #feature .sect1:nth-child(even) .sect2 > :not(.imageblock) {
    float: right;
    clear: right;
    width: 50%;
  }
  /* line 487, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
  #feature .sect1:nth-child(even) .sect2 > .imageblock {
    float: left;
    margin-top: -4em;
    width: 50%;
  }
}
/* line 496, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.tableblock {
  margin-bottom: 1em;
}
/* line 498, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.tableblock th, .tableblock td {
  border: 1px solid #656565;
  padding: 4px;
}

/* line 514, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}
/* line 519, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post:last-child hr {
  display: none;
}
/* line 524, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .title-wrapper img {
  float: left;
  margin-right: 10px;
}
/* line 528, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .title-wrapper .title {
  padding-bottom: 5px;
}
/* line 530, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .title-wrapper .title.border {
  border-bottom: 1px solid #CCC;
}
/* line 533, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .title-wrapper .title h3 {
  text-decoration: none;
  margin-bottom: 0px;
}
/* line 538, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .title-wrapper .title h4 {
  text-decoration: none;
  margin-bottom: 0px;
}
/* line 543, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .title-wrapper .title .author {
  color: #777;
}
/* line 546, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .title-wrapper .title .tags {
  color: #777;
}
/* line 549, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .title-wrapper .title .icon-tags {
  display: inline;
}
/* line 554, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post pre {
  max-height: none;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  background-image: none;
}
/* line 564, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .body {
  margin-bottom: 20px;
  margin-top: 20px;
  clear: both;
}
/* line 569, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .body h1 {
  font-size: 20px;
  text-decoration: none;
  text-align: left;
  color: #4A5D75;
}
/* line 572, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .body h2 {
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  color: #4A5D75;
}
/* line 575, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .body h3 {
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  color: #4A5D75;
}
/* line 581, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .navigation hr {
  display: block;
}
/* line 584, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .navigation .previous {
  text-align: left;
}
/* line 587, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .navigation .next {
  text-align: right;
}
/* line 594, /home/travis/build/jbosstools/jbosstools-website/stylesheets/jbt-styles.scss */
.post .admonitionblock table td {
  border: 1px solid #656565;
  padding: 1em;
}
